.header-container{
    background-color: rgb(243, 188, 188);
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgb(0, 255, 55);
    margin: 10px;
    padding: 10px;
}

.total-cost {
    margin-bottom: 13px;
    font-size: 25px;
    padding: 15px;
}